<div class="section">
	<div class="container">
		<div class="row">
			<div class="s12 m8 l6 offset-m2 offset-l3">
				<div class="card">
					<div class="card-content">
						<h1 class="header center teal-text text-lighten-2">Partie finie ! </h1>
						<h2 class="header center score">{{google_user.name}}, votre score:</h2>
						<h3 class="header center score">{{currentGame.score}}</h3>
						<a href="#/categories" class="btn-large">Rejouer ?</a>
						<a href="#/highscores" class="btn-large right green lighten-2">Highscores</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="background b4"></div>